/* Force placeholder color with maximum specificity */
*::placeholder {
    color: #6b4c8a !important;
    opacity: 1 !important;
    -webkit-text-fill-color: #6b4c8a !important;
}

*::-webkit-input-placeholder {
    color: #6b4c8a !important;
    opacity: 1 !important;
    -webkit-text-fill-color: #6b4c8a !important;
}

*::-moz-placeholder {
    color: #6b4c8a !important;
    opacity: 1 !important;
}

*:-ms-input-placeholder {
    color: #6b4c8a !important;
}